n8n-async-complete-workflow.json
{
  "name": "Remotion 异步渲染完整工作流",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "render-video",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://remotion-railway-renderer-production.up.railway.app/render",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "compositionId",
              "value": "={{ $json.compositionId || 'TestVideo' }}"
            },
            {
              "name": "inputProps",
              "value": "={{ $json.inputProps }}"
            },
            {
              "name": "outputFileName",
              "value": "={{ $json.recordId }}.mp4"
            }
          ]
        },
        "options": {}
      },
      "name": "提交任务",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [650, 300],
      "webhookId": "wait-webhook-id"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://remotion-railway-renderer-production.up.railway.app/render/' + $('提交任务').item.json.taskId }}",
        "options": {}
      },
      "name": "检查任务进度",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equals",
              "value2": "completed"
            }
          ]
        }
      },
      "name": "Switch - 渲染完成?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equals",
              "value2": "processing"
            }
          ]
        }
      },
      "name": "Switch - 还在处理?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 500]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://remotion-railway-renderer-production.up.railway.app' + $json.data.downloadUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "name": "下载视频",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "message",
              "value": "视频渲染完成"
            },
            {
              "name": "downloadUrl",
              "value": "={{ $('检查任务进度').item.json.data.downloadUrl }}"
            },
            {
              "name": "outputFileName",
              "value": "={{ $('检查任务进度').item.json.data.outputFileName }}"
            }
          ]
        },
        "options": {}
      },
      "name": "渲染完成",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "error"
            },
            {
              "name": "message",
              "value": "={{ $('检查任务进度').item.json.error || '渲染失败' }}"
            }
          ]
        },
        "options": {}
      },
      "name": "渲染错误",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1250, 600]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "提交任务",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提交任务": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "检查任务进度",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "检查任务进度": {
      "main": [
        [
          {
            "node": "Switch - 渲染完成?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - 渲染完成?": {
      "main": [
        [
          {
            "node": "下载视频",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch - 还在处理?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - 还在处理?": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "渲染错误",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "下载视频": {
      "main": [
        [
          {
            "node": "渲染完成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "渲染完成": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "渲染错误": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-10-24T00:00:00.000Z",
  "versionId": "1"
}




