n8n-workflow-example.json
{
  "name": "Remotion Railway 渲染工作流",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "render-video",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://your-app.railway.app/render",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "compositionId",
              "value": "MyVideo"
            },
            {
              "name": "inputProps",
              "value": "={{ { \"title\": $json.title, \"subtitle\": $json.subtitle } }}"
            },
            {
              "name": "outputFileName",
              "value": "={{ \"video-\" + Date.now() + \".mp4\" }}"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "http-render",
      "name": "调用 Railway 渲染",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-success",
      "name": "判断是否成功",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "返回成功响应",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": \"渲染失败\", \"details\": $json } }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "respond-error",
      "name": "返回错误响应",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "调用 Railway 渲染",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "调用 Railway 渲染": {
      "main": [
        [
          {
            "node": "判断是否成功",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "判断是否成功": {
      "main": [
        [
          {
            "node": "返回成功响应",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "返回错误响应",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}




